<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Password Management" src="...">
      </a>

      <form>
        <div class="form-group">
          <label for="userIdInput">User ID</label>
          {{input value=userId placeholder="userId" class="form-control" id="userIdInput"}}
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          {{input value=password placeholder="password" class="form-control" id="passwordInput"}}
        </div>
        <div class="form-group">
          <label for="applicationNameInput">Application Name</label>
          {{input value=applicationName placeholder="applicationName" class="form-control" id="applicationNameInput"}}
        </div>
        <div class="form-group">
          <label for="applicationURLInput">application URL</label>
          {{input value=applicationURL placeholder="applicationURL" class="form-control" id="applicationURLInput"}}
        </div>

        {{#link-to 'index'}}
          <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </button>
        {{/link-to}}
        {{#link-to 'plist'}}
          <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </button>
        {{/link-to}}
      </form>

    </div>
  </div>
</nav>
