<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Password Management" src="...">
      </a>
      {{#link-to 'index'}}
        <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </button>
      {{/link-to}}
      {{#link-to 'plist'}}
        <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        </button>
      {{/link-to}}
    </div>
  </div>
</nav>

<h1>New Password</h1>
