<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index'}}
        <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </button>
      {{/link-to}}
      {{#link-to 'new-password'}}
        <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align">
          <span class="glyphicon glyphicon-plus" aria-hidden="true">New Password</span>
        </button>
      {{/link-to}}
    </div>
  </div>
</nav>

<H1>Password List Page</H1>

<ul>
  {{#each model as |passwords|}}
    <li>{{passwords.userId}}</li>
    <li>{{passwords.password}}</li>
    <li>{{passwords.applicationName}}</li>
    <li>{{passwords.applicationURL}}</li>
  {{/each}}
</ul>
