<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Password Management" src="...">
      </a>
      {{#link-to 'index'}}
        <button type="button" class="btn btn-default navbar-btn">Home</button>
      {{/link-to}}
      {{#link-to 'new-password'}}
        <button type="button" class="btn btn-default navbar-btn">Add a New Password</button>
      {{/link-to}}
    </div>
  </div>
</nav>

<H1>Password List Page</H1>

<ul>
  {{#each model as |passwords|}}
    <li>{{passwords.userId}}</li>
    <li>{{passwords.password}}</li>
    <li>{{passwords.applicationName}}</li>
    <li>{{passwords.applicationURL}}</li>
  {{/each}}
</ul>
